@use '../../styles/base';

.LetsTalk {
    flex-basis: 30%;

    order: 1;

    margin: .4rem;

}

.button {
    padding: .5rem 1rem;

    background-color: black;
    color: base.$bgColor;

    border: none;

    cursor: pointer;

    float: right;

    &:hover {
        background-color: scale-color(black, $lightness: +25%);
    }

    &:active {
        transform: scale(0.95);
    }
}

@media (min-width: 760px) {
    .LetsTalk {
        flex-basis: 16%;
        margin: .2rem 0 0 0;
    }


}