@use '../../styles/base';

.LetsTalk {
    flex-basis: 30%;

    order: 1;

    margin: .4rem;

    position: relative;


}

.button {
    padding: .5rem 1rem;

    background-color: black;
    color: base.$bgColor;

    border: none;

    cursor: pointer;

    float: right;

    display: block;

    &[data-opened='true'] {
        display: none;
    }

    &:hover {
        background-color: scale-color(black, $lightness: +25%);
    }

    &:active {
        transform: scale(0.95);
    }
}



.chatbox {
    position: absolute;
    right: 0;
    z-index: 2;

    background-color: scale-color(base.$bgColor, $lightness: +60%);
    
    border-radius: 30px;
    
    overflow: hidden;

    box-shadow: 0 0 10px black;

    display: none;

    &[data-opened='true'] {
        display: block;
    }

}


.title {
    background-color: base.$thirdColor;
    color: base.$bgColor;

    padding: .7rem;

    text-align: center;

    font-weight: 600;
    font-size: 1.5rem;

    margin-bottom: 1rem;

    button.close {
        color: inherit;
        background-color: inherit;
        
        border: 2px solid base.$thirdColor;
        padding: .1rem;

        width: 1.5rem;

        
        float: right;
        margin-top: .2rem;

        cursor: pointer;

        &:hover {
            border: 2px solid white;
            background-color: scale-color(base.$thirdColor, $lightness: +20%);

        }
    }
}




.input {
    margin: 1rem;

    input {
        width: 100%;

        padding: .3rem;

        border-radius: 20px;
    }
}



@media (min-width: 760px) {
    .LetsTalk {
        flex-basis: 16%;
        margin: .2rem 0 0 0;
    }


 }


