@use '../../styles/base';

.LetsTalk {
    flex-basis: 30%;

    order: 1;

    margin: .4rem;

    position: relative;


}

.button {
    padding: .5rem 1rem;

    background-color: black;
    color: base.$bgColor;

    border: none;

    cursor: pointer;

    float: right;

    &:hover {
        background-color: scale-color(black, $lightness: +25%);
    }

    &:active {
        transform: scale(0.95);
    }
}



.chatbox {
    position: absolute;
    right: 0;
    z-index: 2;

    background-color: scale-color(base.$bgColor, $lightness: +60%);
    
    border-radius: 30px;
    
    overflow: hidden;

}


.title {
    background-color: base.$thirdColor;
    color: base.$bgColor;

    padding: .7rem;

    text-align: center;

    font-weight: 600;
    font-size: 1.5rem;

    margin-bottom: 1rem;
}


.chatScreen {
    height: 40vh;
    width: 75vw;

    border: 2px solid scale-color(base.$bgColor, $lightness: -30%);
    border-radius: 30px;

    margin: 0 1rem;

    padding: 1rem;

    overflow-y: scroll;

    p {
        color: base.$bgColor;
        width: 100%;

        display: grid;
        gap: 4px;
        grid-template-columns: 2rem auto auto 2rem;

        margin-bottom: 1rem;

        .avatar {
            align-items: center;
            font-size: 1.4rem;

        }

        span {
            padding: .3rem .2rem .3rem .8rem;
            border-radius: 20px;
        }
    }

    p.agent {   
        span {
            background-color: rgb(52, 71, 71);

            grid-column: 2/3;
            
        }

        .avatar {
            grid-column: 1/2;
            display: flex;



            i {
                color: rgb(52, 71, 71);

            }
        
        }
    }
    p.customer {
        span {
            background-color: rgb(110, 70, 32);
            grid-column: 3/4;
        }

        .avatar {
            grid-column: 4/5;
        }

        i {
            color: rgb(110, 70, 32);

        }
    }


}

.input {
    margin: 1rem;

    input {
        width: 100%;

        padding: .3rem;

        border-radius: 20px;
    }
}



@media (min-width: 760px) {
    .LetsTalk {
        flex-basis: 16%;
        margin: .2rem 0 0 0;
    }


}