@use '../../styles/base';

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    width: 100%;

    row-gap: .7rem;

    background-color: scale-color(base.$bgColor, $lightness: -7%);

    box-shadow:  0 0 5px black;
}

.h4 {
    flex-basis: 20%;
    order: 1;
}







@media (min-width: 760px) {
    .nav {
        background-color: inherit;
        box-shadow: none;
        row-gap: 0;

        align-items: flex-end;
        
    }

    .h4 {
        line-height: 2rem;

    }

    .menu {
        order: 1;
        flex-basis: 58%;
        
        display: flex;
        flex-direction: row;
        
        justify-content:center;
        align-items: flex-end;
        align-content: flex-end;

        
    }

    
    .ul {

        margin: 0;
    }

    .button {
        flex-basis: 16%;
        margin: .2rem 0 0 0;
    }
}