.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    width: 100%;
}

.h4 {
    flex-basis: 20%;
    order: 1;
}

.menu {
    flex-basis: 100%;
    order: 2;
    
    
}

.ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    
    display: flex;
    
    justify-content: space-between;
    
    li {
    }
}

.button {
    flex-basis: 20%;

    order: 1;
}


