@use '../../styles/base';

.slogan {
    flex-basis: 100%;
    text-align: center;

    background-color: scale-color(base.$bgColor, $lightness: -10%);

    padding: .2rem;

    border-radius: 100px;
    padding: 1rem;
    border-bottom: 2px solid scale-color(base.$bgColor, $lightness: -40%);;

    margin-bottom: 2rem;

}

.firstLine {
    color: base.$primaryColor;
    line-height: 3.8rem;
}

.secondLine {
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

.testimony {
    flex-basis: 100%;
    margin: 0 1.2rem;
    padding: 1rem 3rem;

    border: 4px solid scale-color(base.$bgColor, $lightness: -20%);

    border-radius: 20px;

    .text {
        text-align: center;
    }
}


.Image {
    border-radius: 40px;
    overflow: hidden;
    background-color: scale-color(base.$bgColor, $lightness: -30%);
    box-shadow: 0 0 5px black;
}


.cite {
    text-align: center;
    .name,
    .company {
        display: block;
    }
}

@media (min-width: 760px) {
    .slogan {
        flex-basis: 70%;
        background-color: inherit;
        border: none;

        text-align: left;
    }

    .firstLine {
        line-height: 5.3rem;
    }

    .secondLine {
        margin-bottom: 2.9rem;
    }

    .testimony {
        flex-basis: 28%;
        margin: 0;

        margin: 0;
        padding: 0;

        border: none;



        .text {
            text-align: left;
            width: 80%;
            max-width: 200px;
            margin-left: auto;
        }

    }

    .Image {
        width: 80%;
        max-width: 200px;
        margin-left: auto;
    }

    .cite {
        display: block;
        text-align: left;
        width: 80%;
        max-width: 200px;
        margin-left: auto;
    }
}