@use '../../styles/base';

.p {
    flex-basis: 100%;

    text-align: center;
    
    font-family: monospace;

    font-weight: 600;

    a {
        color: base.$primaryColor;

        &:hover {
            border-bottom: 1px solid base.$primaryColor;
        }
    }
}