@use 'base';

.navBar {
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
}

.intro {
    flex-wrap: wrap;

    margin: 0 .2rem 1rem .2rem;
}

.MainBody {
    flex-wrap: wrap;
    row-gap: 4px;
    background-color: black;

    margin-bottom: 1rem;
}

@media (min-width: 760px) {
    .intro {
        margin: 0;

        align-items: center;
    }
}