@use 'base';

.navBar {
    flex-wrap: nowrap;
    margin-bottom: 1.5rem;
}

.intro {
    flex-wrap: wrap;

    margin: 0 .2rem 1rem .2rem;
}

.MainBody {
    flex-wrap: wrap;
    row-gap: 4px;
    background-color: black;

    margin-bottom: 1rem;
}

.footer {
    flex-wrap: wrap;

    margin: 2rem 0;
    padding-top: 1rem;

    border-top: 2px solid scale-color(base.$bgColor, $lightness: -10%);

}

@media (min-width: 760px) {
    .intro {
        margin: 0;
        margin-bottom: 1rem;

        align-items: center;
    }

    .MainBody {
        justify-content: space-between;
        align-items: stretch;
        background-color: inherit;
    }
}